
  .wrapper{
    background-image: url(../../images/Codi/casestudy/Background.png);
    background-color: black;
    /* height:100%; */
   max-width:100%;
   background-size: cover;
   z-index: -1;
   margin: auto;
  }
  .wrapper2 {
    max-width: 90%;
    margin: auto;
  }
  
@media screen and (max-width: 75em) {
    .wrapper2 {
      max-width: 100%;
      overflow: hidden;
      margin: 0;
      padding: 0;
   
    }

  }



  